/* ===============================
    HOME CAROUSEL OVERRIDES
================================== */

.home-carousel-container {
    .home-owl-carousel {
        position: initial;
    }
    .owl-theme .owl-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
    
        .owl-dot {
            span {
                background-color: #8d8e90;
                opacity: 0.5;
            }
    
            &.active span,
            &:hover span {
                box-shadow: 0 0 0 2px #ccffee;
                background-color: transparent;
            }
            &:focus {
                outline: none;
            }
        } 
    }
    .owl-theme {
        .custom-nav {
            position: absolute;
            top: calc(50% - #{$navArrowHeight} / 2);
            height: $navArrowHeight;
            left: 5%;
            right: 5%;

            .owl-prev,
            .owl-next {
                margin: 0;
                position: absolute;
                color: inherit;
                background: none;
                border: none;
                z-index: 99;
                width: 40px;
                height: $navArrowHeight;
                background: transparent;
                opacity: 0.5;
                transition: 0.1s ease-in-out

                i {
                    font-size: 2.5rem;
                    color: #cecece;
                }
                &:focus {
                    outline: none;
                }
            }
            .owl-prev:hover,
            .owl-next:hover {
                opacity: 1;
            }

            .owl-prev {
                background: url('./images/home/left-arrow.png') no-repeat;
                left: 0;
            }

            .owl-next {
                background: url('./images/home/right-arrow.png') no-repeat;
                right: 0;
            }
        }
    }
}

/* ===============================
    POSTS CAROUSEL OVERRIDES
================================== */

.posts-owl-carousel {

    .owl-nav {
        padding-top: 35px;
        margin: auto;
        width: 55px;
        display: flex;
        justify-content: space-between;

        button.owl-next,
        button.owl-prev {
            width: 22px;
            height: 22px;
            border-radius: 11px;
            border: 1px solid #d4d4d4;
            color: #d4d4d4;
    
            &:active {
                border-color: #cab79f;
                color: #cab79f;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

@media (max-width: 580px) {
    .home-carousel-container .owl-theme .custom-nav {
        display: none;
    }
}