/* ======================
    COMMON
=========================*/

.default-content-width {
    margin: auto;
    max-width: 1200px;
}
* {
    box-sizing: border-box;
}
.title {
    font-family: $raleway;
}
.description {
    font-family: $montserrat;
}

/* ======================
    HOME SECTION
=========================*/

.home-section {
    background-image: url('./images/backgrounds/homebackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    width: 100%;
    position: relative;
    @include flexbox();

    .panel {
        left: 0;
        position: absolute;
        width: 100%;
    }
    .panel-container {
        @include flexbox();
        padding: 40px 10px 10px; 

        .logo {
            margin-right: auto;
        }
        .nav-menu {
            font-family: $montserrat;
            width: 50%;
            @include flexbox();
            @include justify-content(space-around);
            @include align-items(center);
            
            &-link {
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                font-weight: 300;

                &:hover,
                &.active {
                    color: #c7b299;
                }
            }
        }
        .additional-nav-icons {
            margin-left: 30px;
            @include flexbox();
            @include align-items(center);
            
            .additional-link {
                margin-left: 20px;
            }
        }
    }
    .carousel-container {
        width: 95%;
        margin: auto;
        
        .owl-carousel {
            margin: auto;
            width: 70%;
            text-align: center;
            @include flexbox();
            @include flex-flow(column);
            @include justify-content(space-between);
    
            &-slider {
                font-family: $raleway;
                padding: 170px 0 50px;

                &-content {
                    min-height: 300px;
                }
                &-primary-title,
                &-main-title,
                &-description {
                    margin: 0;
                }
                &-primary-title {
                    @include fontStyles($medium, 32);
                }
                &-main-title {
                    @include fontStyles($extraBold, 40);
                    padding: 20px 0 30px;
                }
                &-description {
                    font-family: $montserrat;
                    @include fontStyles($light, 16);
                    padding-bottom: 50px;
                }
            }
        }
    }
}

/* ======================
    ABOUT SECTION
=========================*/

.about-section {
    .services-block {
        .services-container {
            padding: 75px 10px;
            text-align: center;
            @include flexbox();
            @include justify-content(space-between);
    
            .service {
                flex: 1;
                min-height: 270px;
                position: relative;
    
                img {
                    width: 40px;
                    height: 40px;
                }
                .service-title {
                    @include fontStyles($semiBold, 22);
                    color: $primaryDark;
                    padding: 30px 0 10px;
                    margin: 0;
                }
                .service-description {
                    @include fontStyles($light, 14);
                    line-height: 24px;
                    color: $primaryLight;
                    padding: 10px;
                    margin: 0;
                }
                &:after {
                    content: " ";
                    display: inline-block;
                    background-color: #f1eee9;
                    width: 50%;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .realization-block {
        background-color: #fbfaf8;
        padding: 70px 10px 0;
    
        .realization-text {
            text-align: center;
    
            .realization-title {
                @include fontStyles($semiBold, 30);
                color: $primaryDark;
                margin: 0;
            }
            .realization-description {
                @include fontStyles($light, 15);
                color: $primaryLight;
                line-height: 28px;
                margin: 25px 0 40px;
            }
    
        }
        .browsers-slider {
            position: relative;
            height: 482px;
    
            .browser-slide {
                position: absolute;
                bottom: -4px;
    
                &-left {
                    left: 0;
                }
                &-right {
                    right: 0;
                }
                &-center {
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
    }
    .wordpress-block {
        background: #211b19; /* Old browsers */
        background: -moz-linear-gradient(left, #211b19 1%, #4e3427 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #211b19 1%,#4e3427 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #211b19 1%,#4e3427 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4e3427',GradientType=1 ); /* IE6-9 */
        padding: 50px 20px;
    
        .wordpress-text-container {
            @include flexbox();
            @include justify-content(space-between);
    
            .wordpress-text {
                .wordpress-title,
                .wordpress-description {
                    margin: 0;
                }
    
                .wordpress-title {
                    @include fontStyles($regular, 26);
                    color: #fff;
                    padding-bottom: 7px;
    
                    .highlighted-word {
                        color: #c7b299;
                    }
                }
                .wordpress-description {
                    @include fontStyles($light, 16);
                    color: #615855;
                }
            }
        }
    }
}

/* ======================
    PORTFOLIO SECTION
=========================*/

.portfolio-section {
    text-align: center;
    padding: 80px 0;

    .portfolio-header {
        &-title {
            margin: 0;
            @include fontStyles($semiBold, 30);
            color: $primaryDark;
            text-transform: capitalize;
        }
        &-text {
            display: inline-block;
            width: 70%;
            @include fontStyles($light, 15);
            line-height: 28px;
            color: $primaryLight;
        }
    }
    .portfolio-projects-container {
        width: 100%;
        padding: 30px 0;
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(space-around);

        .portfolio-project-item {
            width: 370px;
            height: auto;
            margin: 15px;
            
            .project-photo {
                position: relative;

                img {
                    display: block;
                    width: 100%;
                    height: 237px;
                }
                .overlay {
                    transition: 0.3s ease-in-out;
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;

                    &-link {
                        transition: 0.3s ease-in-out;
                        width: 26px;
                        height: 26px;
                        margin: 15px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .project-description {
                transition: 0.3s ease-in-out;
                position: relative;
                text-align: left;
                height: 100px;
                padding: 30px;
                background-color: #fbfaf8;
                @include flexbox();
                @include flex-flow(column);

                .project-description-title,
                .project-description-shortcut {
                    margin: 0;
                }
                .project-description-title {
                    text-transform: capitalize;
                    margin-bottom: 10px;
                    color: #c7b299;
                    @include fontStyles($medium, 16);
                }
                .project-description-shortcut {
                    color: #d1d1d1;
                    @include fontStyles($light, 10);

                }
                &::after {
                    transition: 0.3s ease-in-out;
                    content: ' ';
                    height: 0;
                    width: 0;
                    border: 10px solid transparent;
                    border-bottom-color: #fbfaf8;
                    z-index: 2;
                    position: absolute;
                        top: -20px;
                        left: 20px;
                }
            }
            &:hover {

                .project-photo {

                    .overlay {
                        visibility: visible;
                        opacity: 1;
                        background-color: rgba(0, 0, 0, 0.5);

                        &-link:hover {
                            opacity: 0.8;
                        }
                    }
                }
                .project-description {
                    background-color: #362f2d;

                    &::after {
                        border-bottom-color: #362f2d;
                    }
                }
            }
        }
    }
}

/* ======================
    FEATURES SECTION
=========================*/

.features-section {
    height: 700px;
    
    .about-us-video {
        height: 100%;

        .video-player {
            background-color: $primaryDark;
            display: none;
            height: 100%;
            width: 100%;
            text-align: center;
    
             iframe {
                height: 100%;
                width: 100%;
            }
        }
        .video-cover {
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @include flex-flow(column);
            z-index: 10;
            height: 100%;
            text-align: center;
            z-index: 1;
            position: relative;
            background: url(./images/backgrounds/video-background.jpg) no-repeat;
            background-size: cover;
    
            &::after {
                z-index: -1;
                content: "";
                display: block;
                background-color: rgba(0, 0, 0, 0.3);
                width: 100%;
                height: 100%;
                position: absolute;
                    top: 0;
            }
            
            .video-cover-container {
                text-align: center;
    
                .play-video-btn {
                    transition: 0.2s ease-in-out;
                    padding: 15px;
                    width: 100px;
                    height: 100px;
                    border: none;
                    border-radius: 50px;
                    background-color: transparent;
        
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }
                .video-description-container {
                    color: #fff;
                    width: 60%;
                    margin: auto;
        
                    .video-title {
                        @include fontStyles($regular, 28);
                        text-transform: capitalize;
                    }
                    .video-description-text {
                        @include fontStyles($light, 15);
                        line-height: 26px;
        
                    }
                    .video-time {
                        color: #c7b299;
                    }
                }
            }
        }
    }
    .about-content-container {
        padding-top: 70px;
        @include flexbox();
        @include justify-content(space-between);

        .about-us-container {
            padding-top: 70px;

            .about-us-title {
                color: $primaryDark;
                @include fontStyles($semiBold, 22);
                text-transform: capitalize;
            }
            .about-us-description {
                @include fontStyles($light, 16);
                color: $primaryLight;
            }
            .list {
                padding: 20px 0 0 45px;
                margin: 0;
                list-style: none;
                @include fontStyles($light, 16);
                color: $primaryLight;

                li {
                    padding: 2px 0 15px 30px;
                    display: block;
                    background: url(./images/about/arrow.png);
                    background-repeat: no-repeat;
                    background-position: left top;
                    
                }
            }
        }
    }
}